services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      - DB_USERNAME=root
      - PASSWORD=rootpass
      - DATABASE=lubricentro
      - ACCESS_TOKEN_SECRET=claveultrasecreta
      - cookieKey=mi_cookie_secreta
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=rootpass
      - DB_NAME=lubricentro
      - JWT_SECRET=claveultrasecreta
      - DB_PORT=3306
    depends_on:
      db:
        condition: service_healthy
  db:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_DATABASE=lubricentro
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysql", "--user=root", "--password=rootpass", "-e", "SELECT 1;"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
